h1 {
    color: lightsalmon;
    text-align: center;
    font-size: 75px;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
}

div {
    background-color: lightpink;
}

p,
h3,
h4 {
    margin-left: 3%;
    width: 90%;
}

body {
    width: 66%;
    margin: auto;
    /* padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px; */
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    background-color: rgb(42, 63, 100);
    color: black;
}