#convo-content {
    background-color: white;
    color: black;
    height: 500px;
    overflow-y: auto;
}

#convo-input {
    width: 100%;
}

.convo {
    background-color: lightslategrey;
    text-align: center;
    padding-top: 60%;
}

.right-chat {
    max-width: 75%;
    background-color: lightskyblue;
    border-radius: 4px;
    margin-left: 2%;
    margin-top: 2%;
    padding: 4px;
}

.left-chat {
    max-width: 75%;
    background-color: lightgreen;
    border-radius: 4px;
    margin-left: 2%;
    margin-top: 2%;
    padding: 4px;
}

#reaction {
    font-size: 1.5em;
    color: "success"
}