#convo-content {
    background-color: white;
    color: black;
    height: 500px;
}

#convo-input {
    width: 100%;
}

.convo {
    background-color: lightslategrey;
    text-align: center;
    padding-top: 60%;
}

#reaction {
    font-size: 1.5em;
    color: "success"
}