<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="arnesh.css">
</head>
<body>
    <h1>Dashboard Page</h1>
    <button type="button" name="profile">My Profile</button><br><br><br>
    <button type="button" name="convos">Conversations</button><br><br><br>
    <button type="button" name="faq">FAQ</button><br><br><br>
    <button type="button" name="lout">Log Out</button><br><br><br>
    <p>You have X convos</p>
    <p>In total, X people answered your questions</p><br><br>
</body>

