h1 {
    color: lightpink;
    text-align:center;
    font-size:75px;
}
body {
    text-align: center;
    background-color: rgb(42, 63, 100);
    color: lightpink;
}
button {
    background-color:rgb(255, 211, 17);
    color:black;
    padding: 30px 45px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
}

button:hover{
    background-color:rgb(255, 194, 80);
    color:black;
}
