<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="arnesh.css">
    <script src="arnesh.js"></script>
</head>
<body>
    <h1>Dashboard</h1>
    <button type="button" name="profile" onclick="visitProfile();">My Profile</button><br><br><br>
    <button type="button" name="convos" onclick="visitConv();">Conversations</button><br><br><br>
    <button type="button" name="faq" onclick="visitFAQ();">FAQ</button><br><br><br>
    <button type="button" name="lout" onclick="visitLogIn();">Log Out</button><br><br><br>
    <p>You have X convos</p>
    <p>In total, X people answered your questions</p><br><br>
</body>

