<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="jared.css">
    <script src="jared.js"></script>
</head>
<body>
    <h1>FAQ</h1>
    <div>
        <br>
        <h3>How the site works</h3>
        <p>Let us know what you want to talk about and we will find you people to talk to!</p>
        <h3>Recent updates</h3>
        <p>Update 1.0.0: Set up the site. You can now Log In, navigate using our Dashboard page, view our FAQ page, select interests, and have a simulated conversation with a bot. </p>
        <h3>Terms of service</h3>
        <p>This website is in early stages. For now be kind to one another, and do not be a bot.</p>
        <h3>Frequently Asked Questions</h3>
        <h4>Can other people know who I am?</h4>
        <p>No. You decide when to reveal your identity, and are completely anonymous till then. The other user can only see your bio, your avatar, and your interests.</p>
        <h4>Can I make groups?</h4>
        <p>Soon!</p>
        <h4>Someone is bothering me!</h4>
        <p>If the person you are chatting with is abusive or otherwise violates the Same Page terms of service, you can report them to our team.</p>
        <h4>Can I use this app for dating?</h4>
        <p>We will have an update soon that allows you to use Same Page for dating. For now please try and keep your conversations platonic. Definitely do not go into every conversation with romantic intentions.</p>
        <h4>Can I join the Same Page team?</h4>
        <p>We are currently looking for Influencers, Content Creators, Web Developers, and Artists. Please apply for a position.</p>
        <h4>Can I add pictures to my profile?</h4>
        <p>Yes. However other users will still see your Same Page Avatar until you make the decision to reveal your identity and profile picture.</p>
        <h4>Is it safe to meet Same Page friends in real life?</h4>
        <p>At Same Page our top priority is your safety and well-being. While we can guarantee your safety online through our combination of verification and anonymity, in the real world you go outside our jurisdiction. Make sure you are an adult, that you are keeping safety in mind, that other people know where you're going and who you're meeting, and make sure you trust anyone you're meeting. Even if you trust the person you're meeting still take the mentioned safety precautions.</p>
        <h4>I can't find any matches!</h4>
        <p>We're sorry about that! Currently we have very few users so it might be difficult to find matches. Please try and add more topics of interest and try again!</p>
        <h4>How do I send ideas to the Same Page team?</h4>
        <p>Email us! samepage@gmail.com</p>
        <h4>I want to upgrade my avatar and use custom emotes. How do I pay for the Premium service?</h4>
        <p>The Premium service will come out in the future. Stay tuned!</p>
        <h4>How do I support the Same Page team?</h4>
        <p>Use our website and tell your friends!!</p>
        <h4>Our Revolution?</h4>
        <p>Continues!!</p>
    </div>
</body>

