<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conversation Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">

    <link rel="stylesheet" href="william.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="william.js"></script>
</head>

<body>
    <h1 class="mt-3 ml-3">Conversation Page</h1>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5 mt-3 ml-3">
            <h2>Chat history with Alex</h2>
            <div class="row">
                <div class="col-2">
                    <div class="convo mb-3">
                        Convo 1
                    </div>
                    <div class="convo mb-3">
                        Convo 2
                    </div>
                    <div class="convo mb-3">
                        Convo 3
                    </div>
                    <div class="convo mb-3">
                        Convo 4
                    </div>
                    <div class="convo mb-3">
                        Convo 5
                    </div>
                </div>
                <div class="col">
                    <div id="convo-content">
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <textarea id="comment" rows="5" cols="50"></textarea>
                        </div>
                        <div class="col">
                            <button id="ice-breaker" class="btn btn-primary">Random Ice-Breaker</button>
                            <br>
                            <button id="send" class="btn btn-primary mt-1">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 mt-3 ml-3 mr-3">
            <h2>Meet Alex</h2>
            <div class="row">
                <div class="col">
                    <img class="img-thumbnail" src="https://thispersondoesnotexist.com/image">
                </div>
                <div class="col">
                    Alex is a person generated from a StyleGAN neural network. They do not exist but would like to connect with you over this handy dandy platform. Refresh the page to see another one of my faces!
                </div>
            </div>
            <h3 class="mt-3">For this question:</h3>
            <p>What is so special about dolphins?</p>
            <h3>You both answered:</h3>
            <p id="reaction" class="text-success">I love it!</p>
            <h3>Heres their reasoning:</h3>
            <p>Dolphins are extraordinarily intelligent animals who also display culture, something which was long-believed to be unique to humans (although now recognised in various species). ... Dolphins are altruistic animals. They are known to stay and
                help injured individuals, even helping them to the surface to breath.</p>
            <h3>Wanna talk to them about it?</h3>
            <div class="row">
                <div class="col-2">
                    <button class="btn btn-primary">Yeah!</button>
                </div>
                <div class="col">
                    <button href="/william" class="btn btn-primary">No thanks... Show me someone new!</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>